# Topic 03 - Problem 11: Feature Engineering Basics

---

## 1. About the Problem

Feature Engineering means **creating new useful features** from existing data to help models learn better patterns.

Instead of using raw data directly, we transform it into:
- More **informative**
- More **model-friendly**
- More **meaningful** features

In this problem, I will:
1. Create new features from existing numerical data
2. Apply basic transformations commonly used in real-world datasets

---

## 2. Solution Code

In [ ]:
import pandas as pd

data = {
    "age": [22, 25, 30, 35, 40],
    "salary": [30000, 40000, 50000, 60000, 70000],
    "experience": [1, 3, 5, 8, 10]
}


data['age'].extend([49,28,35])
data['salary'].extend([55000,30000,42000])
data['experience'].extend([4,3,4])


df=pd.DataFrame(data)

df['salary_per_experience']=df['salary']/df['experience']

df['age_group']=pd.cut(df['age'],bins=[20,30,40,50],labels=['Young','Mid-age','Senior'])

df

df.loc[len(df)]=[28,41000,4,10250,'Young'] # Adding new rows using loc
df

   age  salary  experience  salary_per_experience age_group
0   22   30000           1           30000.000000     Young
1   25   40000           3           13333.333333     Young
2   30   50000           5           10000.000000     Young
3   35   60000           8            7500.000000   Mid-age
4   40   70000          10            7000.000000   Mid-age
5   49   55000           4           13750.000000    Senior
6   28   30000           3           10000.000000     Young
7   35   42000           4           10500.000000   Mid-age
8   28   41000           4           10250.000000     Young

---

## 3. Explanation (What is happening)

- **salary_per_experience**  
  → Gives a better idea of how much a person earns per year of experience  
  → Much more meaningful than salary alone

- **age_group**  
  → Converts numerical age into categorical groups  
  → Helps models capture patterns like “young professionals vs seniors”

---

## 4. Summary / Takeaways

By solving this problem, I learned:

1. Feature Engineering improves model performance **without changing the model**
2. Creating meaningful features helps models understand data better
3. Real-world ML performance depends more on **features** than algorithms

Feature engineering is one of the most important skills in **Data Science and Machine Learning**, and mastering it can significantly boost model accuracy.

Next, I will move toward **basic statistics and modeling concepts** to build stronger ML foundations.